Source: ros-melodic-leo-viz
Section: misc
Priority: optional
Maintainer: Błażej Sowa <blazej@turtlerover.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/leo_viz
Standards-Version: 3.9.2

Package: ros-melodic-leo-viz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-joint-state-publisher, ros-melodic-joint-state-publisher-gui, ros-melodic-leo-description, ros-melodic-robot-state-publisher, ros-melodic-rviz
Description: Visualization launch files and RViz configurations for Leo Rover
