Source: ros-kinetic-leo-desktop
Section: misc
Priority: optional
Maintainer: Błażej Sowa <blazej@turtlerover.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/leo_desktop
Standards-Version: 3.9.2

Package: ros-kinetic-leo-desktop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-leo, ros-kinetic-leo-viz
Description: Metapackage of software for operating Leo Rover from ROS desktop
